<div class="main-container">
	<div id="stations-map">

		<google-map center="map.center" zoom="map.zoom" draggable="true" options="map.options" control="map.control" events="map.events">

			<markers models="stationMarkers.list" coords="'self'" events="markersEvents" icon="'icon'" isLabel="true" options="'options'" control="stationMarkers.control"></markers>

		</google-map>

		<paper-fab iconSrc="img/icons/{{currentView}}-view-white.png" ng-click="switchMarkers(event)" class="switch {{currentView}}"></paper-fab>

		

	</div>

	<div nav-bar></div>

</div>