<div id="stations-map">

	<google-map center="map.center" zoom="map.zoom" draggable="true" options="map.options" control="map.control" events="map.events">

		<markers models="stationMarkers" coords="'self'" events="markersEvents" icon="'icon'" isLabel="true" options="'options'"></markers>

	</google-map>

	<span class="geoloc" ng-click="map.geoloc()">Geoloc</span>

	<span class="switch" ng-click="switchMarkers()">Switch</span>

	<span class="refresh" ng-click="refreshMarkers()">Refresh</span>

</div>