<p>
This station name is {{ station.name }}
<ul>
	<li>Adresse : {{ station.address }}</li>
	<li>Lattitude : {{ station.position.lat }}</li>
	<li>Longitude : {{ station.position.lng }}</li>
	<li>Status : {{ station.status }}</li>
	<li>Vélos disponibles : {{ station.available_bikes }}</li>
	<li>Places Disponibles : {{ station.available_bike_stands }}</li>
	<li>Dernière mise à jour des infos : {{ station.last_update }}</li>
	<li>Distance jusqu'à la station : {{distance}}</li>
</ul>

<span class="fav" ng-click="changeFav()">{{ favOrNot }}</span>

</p>
