<div id="stations-fav">
	<ul class="favs">
		<li ng-repeat="station in favStations" class="aStation {{station.bonusClass}}">
			<a  ui-sref="station({stationId: {{station.number}} })">
				<paper-ripple class="recenteringTouch" fit></paper-ripple>
				<div class="numeral-infos">
					<ul>
						<li class="velo">{{station.available_bikes}} <img src="img/icons/velo.png" alt="velo icon"/></li>
						<li class="station">{{station.available_bike_stands}} <img src="img/icons/station.png" alt="station icon"/></li>
					</ul>
				</div>
				
				<div class="text-infos">
					<h2>{{station.name}}</h2>
					<h3>{{station.address}}</h3>
					<span>{{station.distance.text}}</span>
				</div>
			</a>
			<paper-icon-button icon="delete" style="fill: #747474;" class="delete" ng-click="removeFav(station.number, $event)"></paper-icon-button>
		</li>
	</ul>

	<p ng-if="noFavs" class="no-stations">Vous n'avez pas de stations favorites</p>
	<p ng-if="!noFavs" class="no-stations" ng-show="favStations.length === 0">Chargement des stations...</p>
</div>