<div id="side-menu" class="">
    <div class="menu">
    	<div class="head-part">
    		<div class="avatar">
    			<a href="http://simonbats.com" title="Portfolio de Simon Bats" target="_blank">
    				<img src="img/avatar-sb.png" alt="Simon Bats"/>
    			</a>
    		</div>
    		<div class="text-infos">
    			<a href="http://simonbats.com" title="Portfolio de Simon Bats" target="_blank">
    				<span class="name">Simon Bats</span>
    			</a>
    		</div>
    	</div>
	    <ul class="links">
	        <li>
	        	<div>
		        	<a ui-sref="home" ui-sref-active="active" ng-click="closeMenu()">
		        		<core-icon icon="customicon:map"></core-icon> Carte
		        		<paper-ripple class="recenteringTouch" fit></paper-ripple>
		        	</a>
		        </div>
	        </li>

	        <li>
	        	<div>
		        	<a ui-sref="favoris" ui-sref-active="active" ng-click="closeMenu()">
		        		<core-icon icon="star"></core-icon> Mes Favoris
		        		<paper-ripple class="recenteringTouch" fit></paper-ripple>
		        	</a>
	        	</div>
	        </li>
	    </ul>
    </div>
    <div class="menu-back" ng-click="closeMenu()"></div>
 </div>